
<h1><%= @public_profile.name %></h1>
<p>Registro profissional: <%= @public_profile.professional_registry %></p>
<p>Descrição: <%= @public_profile.description %></p>
<p>Gênero: <%= @public_profile.gender %></p>
<p>Etnia: <%= @public_profile.ethnicity %></p>
<p>Idade: <%= @public_profile.age %></p>
<p>Foto: <%= @public_profile.photo %></p>
<p><% if @public_profile.has_online_service %>
        <%= 'Realiza atendimento online' %>
    <% else %>
        <%= 'Não realiza atendimento online' %>
    <% end %>
</p>
<p><% if @public_profile.has_home_service %>
        <%= 'Realiza atendimento domiciliar' %>
    <% else %>
        <%= 'Não realiza atendimento online' %>
    <% end %>
</p>
<p><% if @public_profile.is_pcd %>
        <%= 'PCD' %>
    <% else %>
        <%= 'Não PCD' %>
    <% end %>
</p>
<% if policy(@public_profile).edit? %>
    <%= link_to "Editar", edit_public_profile_path(@public_profile) %>
<% end %>
<% if policy(@public_profile).destroy? %>
    <%= link_to "Excluir permanentemente", public_profile_path(@public_profile), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse perfil? Essa ação é irreversível' } %>
<% end %>
