<h1>Meus perfis públicos</h1>
<ul><% @public_profiles.each do |profile| %>
    <li> <%= link_to  profile.name, public_profile_path(profile) %> 
    <% if profile.photo.attached? %>
        <%= cl_image_tag profile.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <%= link_to 'Editar', edit_public_profile_path(profile) %>
    <%= link_to 'Excluir', public_profile_path(profile), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse perfil? Essa ação é irreversível' } %>
    </li>
<% end %></ul>
<p><%= link_to 'Adicionar novo perfil', new_public_profile_path %></p>
<p><%= link_to 'Início', home_path %></p>