<footer class="c-content-section bg-primary mt-auto">

    <div class="container mx-auto my-4 row">
        <!-- Image / Name -->
        <div>
            <a class="text-decoration-none link-secondary" href="/" aria-label="Engajobs">
                <%= inline_svg_tag "logo-engajobs-horizontal.svg", class: 'img', width: 120, alt: "" %>
            </a>
        </div>

        <div>
            <div>
                <!-- Sobre serviço oferecido -->
                <div>
                    <h2 class="h5">Serviço</h2>
                    <ul class="pl-none" role="list">
                        <li><%= link_to  "Áreas e Especialidades", areas_path, class: ''%></li>
                        <li><%= link_to  "Contatos de profissionais", public_profiles_path, class: ''%></li>
                    </ul>
                </div>

                <!-- Como usar a plataforma -->
                <div>
                    <h2 class="h5">Site</h2>
                    <ul class="pl-none" role="list">
                        <li><%= link_to  "Meus perfis públicos", my_profiles_path, class: ''%></li>
                        <li><a href="" class="">Favoritos</a></li>
                    </ul>
                </div>

                <!-- Suporte -->
                <div>
                    <h2 class="h5">Suporte</h2>
                    <ul class="pl-none" role="list">
                        <li><a href="" class="">Entre em contato</a></li>
                        <li><a href="" class="">Redes sociais</a></li>
                    </ul>
                </div>

                <!-- Sobre engajobs -->
                <div>
                    <h2 class="h5">Engajobs</h2>
                    <ul class="pl-none" role="list">
                        <li><%= link_to  "Sobre nós", about_path, class: ''%></li>
                        <li><a href="" class="">Impacto Social</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h2 class="h5">Nos siga nas redes sociais!</h2>
            <ul class="pl-none m-none gap-300" role="list">
                <li>
                    <a href="https://twitter.com">
                        <%= inline_svg_tag "logo-twitter.svg", class: "d-block", height: 18, alt: "" %>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com">
                        <%= inline_svg_tag "logo-facebook.svg", class: "d-block", height: 18, alt: "" %>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com">
                        <%= inline_svg_tag "logo-youtube.svg", class: "d-block", height: 18, alt: "" %>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com">
                        <%= inline_svg_tag "logo-linkedin.svg", class: "d-block", height: 18, alt: "" %>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>

            </ul>
        </div>

        <div>
            <small class="text-muted">&copy;<%= Date.today.year %> Engajobs</small>
        </div>
    </div>
</footer>