<!-- Pages/home -->
<main>
    <section class="c-content-section gap-400 bg-gray">
        <h1>Engajobs</h1>
        <p>Conectando pessoas. Abraçando diversidades.</p>
        <%= link_to 'Cadastre-se', new_user_registration_path, class: 'c-button c-button--primary ml-auto' %>
    </section>
    <div class="c-wave-separator"></div>
    <section class="c-content-section">
        <h2>Nossas bandeiras</h2>
        <div class="l-stack gap-800">
            <% @causes.each.with_index do |cause, index| -%>
            <div class="c-card <%= index.odd? ? "c-card--flip" : "" %>">
                <img class="c-card__image" src="<%= cause.image %>"" alt="" srcset="">
                <div class=" l-stack">
                <h3><%= cause.name %></h3>
                <p><%= cause.description %></p>
            </div>
        </div>
        <% end -%>
        </div>
    </section>
    <div class="c-wave-separator--flipped"></div>

    <section class="c-content-section bg-gray">
        <h2>Quem nos apoia</h2>
        <ul class="l-grid">
            <% @brands.each do |brand| -%>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="<%= brand.image %>" alt="<%= brand.image_alt %>">
                <span class="c-brand-highlight__label"><%= brand.name %></span>
            </li>
            <% end -%>

        </ul>
        <a href="#" class="c-button c-button--primary m-auto">Apoie</a>
    </section>
    <section class="c-content-section bg-gray pt-none">
        <h2>Entenda a causa</h2>
        <div class="stack">
            <div>
                <div class="media"></div>
                <h3>Esta é a Fulaninha</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
            <div>
                <div class="media"></div>
                <h3>Este é o Ciclaninho</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
        </div>
    </section>

</main>