<!-- Pages/home -->
<main>
    <section class="c-hero-banner">
        <h1>Engajobs</h1>
        <p>Conectando pessoas. Abraçando diversidades.</p>
        <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn btn-primary' %>
    </section>
    <div class="c-wave-separator"></div>
    <section class="l-stack">
        <h2 class="">Nossas bandeiras</h2>
        <div class="l-stack">
            <% @causes.each.with_index do |cause, index| -%>
            <div class="c-card c-card--<%= index.odd? ? "row" : "row-reverse" %>">
                <img class="c-card__image" src="" alt="" srcset="">
                <div class="l-stack">
                    <h3 class=""><%= cause.name %></h3>
                    <p><%= cause.description %></p>
                </div>
            </div>
            <% end -%>
        </div>
    </section>
    <div class="c-wave-separator c-wave-separator--flipped"></div>
    <section class="l-stack">
        <h2 class="">Quem nos apoia</h2>
        <ul class="l-grid">
            <% @brands.each do |brand| -%>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="<%= brand.image %>" alt="<%= brand.image_alt %>">
                <span class="c-brand-highlight__label"><%= brand.name %></span>
            </li>
            <% end -%>

        </ul>
        <a href="#" class="btn btn-secondary">Apoie</a>
    </section>
    <section class="l-stack">
        <h2 class="">Entenda a causa</h2>
        <div class="stack">
            <div>
                <div class="media"></div>
                <h3>Esta é a Fulaninha</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
            <div>
                <div class="media"></div>
                <h3>Este é o Ciclaninho</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
        </div>
    </section>
</main>