<h1><%= @area.name %></h1>
<% if @area.specialities.size > 0 %>
    <% @area.specialities.each do |speciality| %>
        <%= link_to speciality.name, speciality_path(speciality) %>
    <% end %>
<% else %>
    <p><%= "Essa area ainda não possui nenhuma especialidade!" %></p>
    <%= link_to "Adicionar nova especialidade", new_area_speciality_path(@area) %>
<% end %>

<p><%= link_to 'Editar', edit_area_path(@area) %></p>
<p><%= link_to 'Excluir', area_path(@area), method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa área?' } %></p>
<p><%= link_to 'Voltar', areas_path %></p>