<h1>Addresses#show</h1>
<p>Rua: <%= @address.street %></p>
<p>Numero: <%= @address.number %></p>
<p>Complemento: <%= @address.complement %></p>
<p>Bairro: <%= @address.district %></p>
<p>Cidade: <%= @address.city %></p>
<p>Estado: <%= @address.state %></p>
<p>Pais: <%= @address.country %></p>