<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Engajobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body class="stack gap-none">
    <%= render 'shared/flashes' %>

    <!-- Header -->
    <%= render 'shared/navbar' %>

    <%= render 'shared/modal' %>

    <%= yield %>

    <!-- Footer -->

    <%= render 'shared/footer' %>


</body>

<<<<<<< HEAD
</html>
=======

</html>
>>>>>>> 83a8719abbfb26dbb781d0591f344841ef27824e
