<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Engajobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="d-flex flex-column h-100">
    <%= render 'shared/flashes' %>

    <!-- Header -->
    <%
=begin%>
    <%= render 'shared/navbar' %>
    <%
=end%>

    <%= yield %>

    <!-- Footer -->
    <%
=begin%>
    <%= render 'shared/footer' %>
    <%
=end%>

    <%= vite_javascript_tag 'application' %>
    <%= vite_client_tag %>
</body>

</html>