<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Engajobs</title>
    <%= render 'shared/head-commons' %>
</head>

<body class="stack gap-none">
    <%= render 'shared/flashes' %>

    <!-- Header -->

    <%= render 'shared/navbar' %>

    <%= yield %>

    <!-- Footer -->

    <%= render 'shared/footer' %>


</body>


</html>