<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Engajobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
</head>

<body class="l-stack gap-none">
    <%= render 'shared/flashes' %>

    <!-- Header -->

    <%= render 'shared/navbar' %>

    <%= yield %>

    <!-- Footer -->

    <%= render 'shared/footer' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>


</html>