<!DOCTYPE html>
<html>

<head>
    <title>Engajobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

<body>

    <div class="container">
        <div class="container-devise row">
            <%= yield %>
        </div>
    </div>

    <%= javascript_pack_tag 'application', defer: true %>
</body>

</html>